.App {
  text-align: center;
}

.App-header >h1 {
  margin: .2em 0 .2em 0 ;
  font-size: 100px;
  color: #e63946;
  letter-spacing: 2px;
}
  
.App-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50vw;
}


@media only screen and (max-width: 600px) {
  .App-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90vw;
  }
  .App-header >h1 {
    margin: .2em 0 .2em 0 ;
    font-size: 70px;
    color: #e63946;
    letter-spacing: 2px;
  }
}